.main-section {
    padding-bottom: 120px;
    .text-part {
        max-height: 300px;
    }
}

.letter-CEO {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    p {
        max-width: 520px;
    }
}

.with-us-section{

    .text-part{
        max-height: 180px;
    }
}
